@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  font-family: "VT323", monospace;
  font-size: 36px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #222;
}

.container {
  max-width: 1280px;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 80px;
}

.btn {
  border: none;
  padding: 5px 15px;
  font-size: 32px;
  font-weight: 600;
  font-family: "VT323", monospace;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */

  max-height: 80px;
  padding: 0px 10px;
}

.guess {
  align-self: center;
  text-align: center;
}

.randnum {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 5px;
  align-items: center;
}

.number {
  color: black;
  padding: 10px 25px;
  background-color: white;
  text-align: center;
}

.play {
  display: flex;
  gap: 80px;
  padding: 50px 10px;

  justify-content: center;
  align-items: center;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.hint-msg {
  display: none;
  padding: 0px 10px;
}

.hint {
  display: flex;
  justify-content: center;
}

/* removing the arroe signs in the input box */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gussed {
  background-color: #222;
  color: white;
  border: 2px solid white;
  padding: 10px 25px;
  font-size: 32px;
  max-width: 100px;
  text-align: center;
}

.resultstate {
  padding-bottom: 30px;
}

footer {
  text-align: center;
  background-color: aliceblue;
  color: black;
  padding: 10px;
}

@media (max-width: 510px) {
  body {
    font-size: 24px;
  }
  .play {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
